:root {
  --it-font-family: 'Inter', 'Helvetica Neue', 'Nunito Sans', sans-serif;

  --it-font-size-xs: 10px;
  --it-font-size-sm: 12px;
  --it-font-size-md: 14px;
  --it-font-size-lg: 16px;
  --it-font-size-h6: 1.1rem;
  --it-font-size-h2: 20px;
  --it-font-size-h1: 22px;

  --it-font-weight-regular: 400;
  --it-font-weight-medium: 500;
  --it-font-weight-semibold: 600;
  --it-font-weight-bold: 700;

  --it-line-height-normal: 1.5;
  --it-line-height-tight: 1.2;
}
